{% extends "main.html" %}
{% block title %}{{ request.user }}|密码更改{% endblock %}
{% block main %}
    <h1  class="page-header">更改密码</h1>
    <form action="." method="post" class="form-horizontal" role="form" style="padding-left: 50px">
        <div class="form-group form-group-lg">
        <span style="font-size: larger;">{{ form.old_password.label_tag }}<span style="padding-left: 65px">{{ form.old_password }}</span> </span>
            <span class="errornote" style="padding-left: 120px">
            {{ form.old_password.errors }}.
        </span>
        </div>
        <div class="form-group form-group-lg">
            <span style="font-size: larger">{{ form.new_password1.label_tag }}<span style="padding-left: 65px">{{ form.new_password1 }}</span></span>
              <span class="errornote" style="padding-left: 120px">
            {{ form.new_password1.errors }}
        </span>
        </div>
        <div class="form-group form-group-lg">
            <span style="font-size: larger">{{ form.new_password2.label_tag }}<span style="padding-left: 30px">{{ form.new_password2 }}</span></span>
              <span class="errornote" style="padding-left: 120px">
            {{ form.new_password2.errors }}
        </span>
        </div>
    {% csrf_token %}
        <p style="padding-left: 50px"><button class="button bg-success btn-lg" type="submit" >更改</button></p>
       <div class="label-info"> <p>{{ form.old_password.help_text|striptags }}</P>
    <p>{{ form.new_password1.help_text|striptags }}</p>
           <p>{{ form.new_password2.help_text|striptags }}</p></div>
    </form>

{% endblock %}