{% extends "main.html" %}
{% block title %}岗位管理{% endblock %}
{% block main %}
    <div class="panel panel-success">
    <div class="panel-heading">
    <h1 class="panel-title"> {% if object %}{{ object }}{% else %}新增岗位{% endif %}</h1></div>
    <div class="panel-body">
    <form action="." method="post" class="form-horizontal" style="padding-left: 40px">
    <div class="form-group form-group-lg">
        <span style="font-size: larger"> {{ form.name.label_tag }} {{ form.name }}</span>
    </div>
        <div class="form-group form-group-lg">
        <span style="font-size: larger"> {{ form.active.label_tag }} {{ form.active }}</span>
    </div>
        <div class="form-group form-group-lg">
        <span style="font-size: larger"> {{ form.order.label_tag }} {{ form.order }}</span>
    </div>
        {% if form.errors %}
            <p>{{ form.errors }}</p>
        {% endif %}

    <input type="submit" value="提 交" class="button btn-default btn-sm" name="_save">
    {% if  not object %}
        <input type="submit" value="提交继续新增" class="button btn-default btn-sm">{% endif %}
      {% csrf_token %}
    </form>
    </div>
</div>
{% endblock %}